extends layout

block content
  form(action=`/countDebt` method='POST' enctype='multipart/form-data')
    .form-row
      .form-group.col.form-file-upload.form-file-multiple
        input.inputFileHidden(type='file' name='debts' id='debts')
        .input-group
          input.form-control.inputFileVisible(type='text' placeholder='Загрузите .xlsx файл с задолженностью')
          span.input-group-btn
            button.btn.btn-fab.btn-round.btn-warning(type='button')
              i.material-icons layers
    .form-row
      .col-sm-10
        button.btn.btn-rose(type='submit') Загрузить