extends layout

block content
  h2.text-center.mb-2 #{title}
  form.bg-white.px-3.py-3.mb-5(action=`/updateClaim/${claim._id}` method='POST')
    .form-row
      .form-group.col
        label(for='name') Название
        input.form-control(type='text' name='name' value=claim.name)
    .form-row
      .form-group.col
        label(for='description') Долг
        input.form-control(type='text' name='description' value=claim.description)
    .form-group.row
      .col-sm-10
        button.btn.btn-rose(type='submit') Сохранить