doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
  body
    .wrapper
      input(type='text' id='testInput')
      button(onclick="generate()") Generate document
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.9.1/docxtemplater.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.0.2/jszip-utils.js")
      script(src="/dist/generateDoc.js")
      



      
 
